fastapi==0.110.0
uvicorn==0.27.1
gunicorn==21.2.0

deepface==0.0.96

tensorflow==2.15.0
keras==2.15.0
numpy==1.26.4
opencv-python==4.8.1.78

mtcnn==1.0.0
retina-face==0.0.17

pillow
pandas
requests

